@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
.Recipe {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}
.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.search-bar {
  width: 50%;
  padding: 1rem;
  outline: none;
  border: none;
}
.search-button {
  color: white;
  outline: none;
  border: none;
  background-color: orange;
  padding: 1rem;
}
.recipes {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.recipe-title {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 5px 20px rgb(71, 71, 71);
  border-radius: 10px;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}
